*/doxy/html
*/doxy/latex
*/.settings
*/Debug
*/Generated_Code/*
*/Documentation
*/Static_Code
*/Sources/Events.h
*/Sources/Events.c
*~
*.g_c
*.g_x
*_SIGNALS.txt
*_Settings.previous.xml
*_Settings.xml
ProjectInfo.xml
*/ProcessorExpert.pe
unittests-build
CMakeLists.txt.user
testresults.xml
